# Auto detect text files and perform LF normalization
* text=auto
# for ubuntu
* text=auto
*.cpp text eol=crlf
*.h text eol=crlf
*.sh text eol=lf
ThirdParty/FBXSDK/lib/x64/**/*.lib filter=lfs diff=lfs merge=lfs -text
ThirdParty/FBXSDK/lib/x64/**/*.dll filter=lfs diff=lfs merge=lfs -text
LunaticEngine/Asset.zip filter=lfs diff=lfs merge=lfs -text
